@font-face {
    font-family: 'Roboto-Black';
    src: url('/fonts/Roboto-Black.ttf'); /* IE9 Compat Modes */
    src: url('/fonts/Roboto.ttf')  format('ttf'), /* Safari, Android, iOS */
  }

*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: Roboto;
}
/* utilities */


fieldset {
    margin: 0 0 3rem;
    padding: 0;
    border: none;
  }
  
  .form-radio,
  .form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }
  
  .form-inline > .form-group,
  .form-inline > .btn {
    display: inline-block;
    margin-bottom: 0;
  }
  
  .form-help {
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    color: #b3b3b3;
    font-size: 0.8rem;
  }
  .checkbox .form-help, .form-radio .form-help, .form-group .form-help {
    position: absolute;
    width: 100%;
  }
  .checkbox .form-help {
    position: relative;
    margin-bottom: 1rem;
  }
  .form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem;
  }
  
  .form-group input {
    height: 1.9rem;
  }
  .form-group textarea {
    resize: none;
  }
  .form-group select {
    width: 100%;
    font-size: 1rem;
    height: 1.6rem;
    padding: 0.125rem 0.125rem 0.0625rem;
    background: none;
    border: none;
    line-height: 1.6;
    box-shadow: none;
  }
  .form-group .control-label {
    position: absolute;
    top: 0.2rem;
    left: 0;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
  }
  .form-group .bar {
    position: relative;
    border-bottom: 0.0625rem solid #999;
    display: block;
  }
  .form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #337ab7;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
  }
  .form-group input,
  .form-group textarea {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
  }
  .form-group input[type="file"] {
    line-height: 1;
  }
  .form-group input[type="file"] ~ .bar {
    display: none;
  }
  .form-group select,
  .form-group input:focus,
  .form-group input:valid,
  .form-group input.form-file,
  .form-group input.has-value,
  .form-group textarea:focus,
  .form-group textarea:valid,
  .form-group textarea.form-file,
  .form-group textarea.has-value {
  color: #1587dd;
  }
  .form-group select ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group input:valid ~ .control-label,
  .form-group input.form-file ~ .control-label,
  .form-group input.has-value ~ .control-label,
  .form-group textarea:focus ~ .control-label,
  .form-group textarea:valid ~ .control-label,
  .form-group textarea.form-file ~ .control-label,
  .form-group textarea.has-value ~ .control-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0;
  }
  .form-group select:focus,
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
  }
  .form-group select:focus ~ .control-label,
  .form-group input:focus ~ .control-label,
  .form-group textarea:focus ~ .control-label {
    color: #337ab7;
  }
  .form-group select:focus ~ .bar::before,
  .form-group input:focus ~ .bar::before,
  .form-group textarea:focus ~ .bar::before {
    width: 100%;
    left: 0;
  }
  
  .checkbox label,
  .form-radio label {
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    text-align: left;
    color: #333;
    display: block;
  }
  .checkbox input,
  .form-radio input {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
  }
  
  .radio {
    margin-bottom: 1rem;
  }
  .radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: #999;
  }
  .radio .helper::before, .radio .helper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.25rem;
    width: 1rem;
    height: 1rem;
    -webkit-transition: -webkit-transform 0.28s ease;
    transition: -webkit-transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
    border-radius: 50%;
    border: 0.125rem solid currentColor;
  }
  .radio .helper::after {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #337ab7;
    border-color: #337ab7;
  }
  .radio label:hover .helper {
    color: #337ab7;
  }
  .radio input:checked ~ .helper::after {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .radio input:checked ~ .helper::before {
    color: #337ab7;
  }
  
  .checkbox {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .checkbox .helper {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    -webkit-transition: border-color 0.28s ease;
    transition: border-color 0.28s ease;
  }
  .checkbox .helper::before, .checkbox .helper::after {
    position: absolute;
    height: 0;
    width: 0.2rem;
    background-color: #337ab7;
    display: block;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    border-radius: 0.25rem;
    content: '';
    -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
    transition: opacity 0.28s ease, height 0s linear 0.28s;
    opacity: 0;
  }
  .checkbox .helper::before {
    top: 0.65rem;
    left: 0.38rem;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    box-shadow: 0 0 0 0.0625rem #fff;
  }
  .checkbox .helper::after {
    top: 0.3rem;
    left: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .checkbox label:hover .helper {
    color: #337ab7;
  }
  .checkbox input:checked ~ .helper {
    color: #337ab7;
  }
  .checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
    opacity: 1;
    -webkit-transition: height 0.28s ease;
    transition: height 0.28s ease;
  }
  .checkbox input:checked ~ .helper::after {
    height: 0.5rem;
  }
  .checkbox input:checked ~ .helper::before {
    height: 1.2rem;
    -webkit-transition-delay: 0.28s;
            transition-delay: 0.28s;
  }
  
  .radio + .radio,
  .checkbox + .checkbox {
    margin-top: 1rem;
  }
  
  .has-error .legend.legend, .has-error.form-group .control-label.control-label {
    color: #d9534f;
  }
  .has-error.form-group .form-help,
  .has-error.form-group .helper, .has-error.checkbox .form-help,
  .has-error.checkbox .helper, .has-error.radio .form-help,
  .has-error.radio .helper, .has-error.form-radio .form-help,
  .has-error.form-radio .helper {
    color: #d9534f;
  }
  .has-error .bar::before {
    background: #d9534f;
    left: 0;
    width: 100%;
  }
  
.hidden{
    display:none !important;
}
.transparent{
    background: transparent;
}
.primary-text{
    color:#309aeb;
}
.white-text{
    color:white;
    padding-left: 30rem;;
}

.icons-right-text{
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: bold;
}
.menu-items{
    border-top:1px solid white;
    border-bottom:1px solid white;
    background:#000000a8;
}
.menu-items .nav-item a{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
}

.menu-items .nav-item a:hover{
    color:#007bff;
    transition:.61s;
}
.menu-items .nav-item.active a{
    color:#1587dd;
}
/* components */
.dark-panel{
    background-color:#00172880;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0.7rem;
    color: white;
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    transform: translateY(-3.8rem);
}

/* main navigation */
.rounded-button-block .button{
    border:1px solid white;

}
.main-nav{
    max-height:4rem;
    position: absolute;
    z-index: 9999;
}

.main-banner{
    padding:0;
    /* /background: url('/images/banners/cosmo-banner.png') no-repeat center center fixed; */
    
    background-size: cover;
}
.section-with-icons{
    color:#1587dd;
}

/* Carousel */
.carousel-indicators li.active {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 10rem;
}
.carousel-indicators li:not(.active) {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 10rem;
    background-color: transparent;
    border: 1px solid white;
}
/* section flex */
/* media queries */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {   
    .decrease-margin-top{
        margin-top: -1rem;
    }
}
  
/*  ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px */  
@media (min-width: 1025px) and (max-width: 1280px) {
    .decrease-margin-top{
        margin-top: -1rem;
    }
}

.bd-highlight{
    color: #1587dd;
    font-weight: 700;
    font-size: 1rem;
}
.bd-highlight img{
    width: 30px;
}
.btn.btn-outline-secondary.rounded .btn{
    border: 1px solid gray;
}

.gray-bg{
    background: #e5eff9;
}


/* products carousel */
.bg-avoria-text{
    background:url('/images/avoria-text-background.png') no-repeat center center fixed;
}
.bg-avoria-text h3 {
    font-family: 'Roboto-Black', sans-serif;
}
.rounded-button-block .btn{
    border-radius:5rem;
    border-color: 1px solid white;
}
.starz{
    color: #cae9fd;
}
.starz .checked {
    color: #ffdc1a;
}
#banner-main-carousel .carousel-item img{
    min-height:500px;
}
.product-description{
    color:#1587dd;
    text-transform: uppercase;
    font-weight: 600;
    font-size:0.9rem;
}
.carousel-item {}
.product-cover-image:before{
    content: "";
    display: block;
}

.product-description{
    text-align: center;
}

.cost{
    color:#1587dd;
    font-weight: 600;
    font-size:1.2rem;
}

.product-line > .jumbotron {
    background-color: white;
}

/* categories */


.categories h2 {
    color: red;
    font-weight: bold;
    letter-spacing: 1rem;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
               url(../images/2clr-grad.png) repeat center center;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }

  /* Orange & pineapple */
  
.pineapple-static{
    position: absolute;
    z-index: 99999;
    width: 396px;
    right:0;
    transform: translateY(-78rem);
    overflow: hidden;
    max-width: 300px;
}

.orange-static{
    position: absolute;
    z-index: 99999;
    transform: translate(-10px, 4rem);
    max-width:500px;
}
.grid-layer{
    padding-left: 3rem;
    padding-right: 3rem;
 }
    

.grid-layer .first-container{
    width:100%;
}
.grid-layer .first-container img,
.grid-layer .second-container img,
.grid-layer .third-container img{
    width:100%;
}

.grid-layer .second-container{
  
}

.grid-layer .third-container{
    
}
.top-minus-alignment{
    margin-top: -2.4rem;
}



@media (min-width: 768px) and (max-width: 991px){
  
    .categories h2 {
        font-size: 5rem;
        margin-bottom: -1rem;
    }
    .orange-static{
        display:none;
    }
    .grid-layer {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media (min-width: 991px){
    .orange-static {
        display:block;
    } 
    
.big-gradient-2colors{
    margin-bottom:-2.2rem;
    font-size: 7rem;
}
}
  
 /* deal-des-tages section*/
.deal-des-tages{
    min-height: 560px;
  }
.deal-des-tages .bg-text-image{
background: url(../images/deal-des-tages.png) no-repeat center center;
    background-position-x: left;
    background-position-y: top;
}

.deal-des-tages .clocks{
    background: url(../images/deal-des-tages_zhizha.png) no-repeat center center;
}
.deal-des-tages h2{
    color: #1587dd;
    font-size: 57px;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-bottom: 0;
}
.deal-des-tages .line-through{
    text-decoration: line-through;
    color: red;
    padding-left: 13px;
}
.deal-des-tages .btn.btn-outline-danger{
    border-radius: 2px;
    width: 307px;
    background-color: red;
    font-size: 0.9rem;
    color:white;
    border:2px solid black;
    letter-spacing: 5px;
}

.deal-des-tages .btn.btn-outline-danger:hover{
    background-color: #a20202;
    border:2px solid #524f4f;
    transition:.5s;
    letter-spacing: 6px;
}
.deal-des-tages .product-description{
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 2px;
}
.deal-des-tages .starz{
    text-align:center;
}
.deal-des-tages .cost{
    font-size:3rem;
    text-align: center;
}
.deal-des-tages .old-price{
    margin-left: -10px;
}
.adv-counter{
    color:#1587dd
}
/* Modal window */
#poleChudesModal iframe{
    width: 100%;
    min-height: 300px;
}    
.clocks{
    min-height: 500px;
}

/* Counttimer widget styles */
[data-widget="marketing-timer"]{
    font-size:1.5rem;
    font-weight: bold;
    line-height: 7rem;
}
[data-widget="marketing-timer"] .line{

letter-spacing: 2px;

margin-top: 10rem;
}
[data-widget="marketing-timer"] .timer_hours{
    font-size: 4rem;
}

[data-widget="marketing-timer"] .timer_minutes{
    font-size: 4rem;
    margin-left: 2rem;
}

[data-widget="marketing-timer"] .timer_seconds{
    font-size: 10rem;
}

[data-widget="marketing-timer"] .timer_delimiter{
    margin-left:5px;

}
[data-widget="marketing-timer"] .timer_delimiter.seconds{
    font-size: 6rem;
    margin-left:5px;
}

.offer-circle{
    background-color: #f20a51;
    width: 65px;
    height: 65px;
    text-align: center;
    color: white;
    border-radius:50rem;
    padding: 7px;
    position: absolute;
    right: 14rem;
    top: 6rem;
}
.offer-circle p{
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    padding-top:5px
}
.offer-circle .perc{
    
}
.offer-circle .off{
    /* transform:translateX(-5px); */
}

#exclusive-carousel {
    /* margin-bottom:5rem; */
}

#exclusive-carousel img{
    max-height:600px;
}
#exclusive-carousel .carousel-indicators{
    position: absolute;
}

#exclusive-carousel h3.text-right{
    position:absolute;
    right:10%;
    top:2rem;
    font-size: 2.2rem;
    font-weight: bolder;
}


.blurred-box{
    background: inherit;
    /* width: 250px; */
    /* height: 350px; */
    position: absolute;
    overflow: hidden;  //
    adding overflow hidden;
  }
.blurred-box:before{
    /* content: ''; */
    width: 300px;
    height: 400px;
    background: inherit;
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    /* box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3); */
    /* filter: blur(10px); */
   }
   
   #exclusive-carousel .btn-outline-primary{
       border:2px solid white;
       border-radius: 0;
       color:white;
       letter-spacing: 7px;
   }

   #exclusive-carousel .btn-outline-primary:hover {
    color: #fff;
    background-color: #5088c296;
    border-color: #007bff;
}

@media (min-width:1300px) and (max-width:1547px){
    .big-gradient-2colors{
        font-size:9rem;
    }
}

@media (min-width:1085px) and (max-width:1300px){
    .big-gradient-2colors{
        font-size:7rem;
    }
}

@media (min-width:992px) and (max-width:1085px){
    .big-gradient-2colors{
        font-size:6rem;
    }
}

#exclusive-carousel .overlay-panel{
    position:absolute;
    background: #b9b9b969;
    top: 200px;
    max-width: 414px;
    color: white;
    font-size: .9rem;
    left: 10rem;
    padding: 1.52rem;
}
#exclusive-carousel .headline{
     position: absolute;
     font-family: 'Roboto-black';
     top: 6rem;
     left: 10rem;
     font-size: 3.5rem;
}


.OEM_YOUR_DESIGN .overlay-panel{
    position:absolute;
    background: #b9b9b969;
    max-width: 414px;
    color: white;
    font-size: .9rem;
    left: 10rem;
    padding: 1.52rem;
}
.OEM_YOUR_DESIGN .headline{
     position: absolute;
     font-family: 'Roboto-black';
     top: 6rem;
     left: 10rem;
     font-size: 3.5rem;
}
.OEM_YOUR_DESIGN{
    min-height:30rem;
}
.about-us{
    background: url(/images/about_us_bg.png) no-repeat center center;
    min-height: 808px;
    margin-top: 5rem;
}
.about-us .big-gradient-2colors{
    color: red;
    font-weight: bold;
    letter-spacing: 1rem;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),      url(../images/fon_about.png) repeat center center;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    font-size: 8rem;
    transform: translate(42px,21px);
}
.about-us .view-more-btn{
    /* position:absolute; */
    /* right: 23rem; */
    border: 2px solid #007bff;
    border-radius: 0;
    color: #007bff;
    letter-spacing: 7px;
    transform: translateY(6px);
    z-index: 99999999;
    margin-top: 7rem;
    margin-left: 5rem;
}

.about-us .view-more-btn:hover{
    border: 2px solid #007bff;
    border-radius: 0;
    color: white;
}

.creative-content{
    min-height:500px;
}

.map-contacts{
    width: 100%!important;
    min-height: 536px;
}

footer{
    color: #7f7f7f;
    background: url(/images/footer_bg.png);
}
footer ul{ padding:0;}
footer li{
    list-style-type: none;
    font-size:.7rem;
}

.icon-button{
    border:1px solid white; 
    
    width:35px;
    height:35px;
    border-radius:2rem;
}
.icon-button i{
    color:white;
}
footer a{
    color:#7f7f7f;
    font-size:.9rem;
}
footer a:hover{
    text-decoration: none;
}
footer h6{
    color:white;
    font-weight:bold;
}
.tr i:before{
    margin-left: -2px;
}

.creative-content{
    background: url(/images/A.png) no-repeat center center;
}
.OEM_YOUR_DESIGN {
    min-height: 30rem;
}

.icons-pay li i{
    font-size: 2rem;
    text-align:left;
}

.text-panel {
    max-width:60rem;
}

.informationen{
    display:inline;
    padding:5px;
    letter-spacing: 4px;
    background:white;
    color:black;
    text-transform: uppercase;
    padding-left: 12px;
}

.view-more-btn{
border: 2px solid white;
border-radius: 0;
color: white;
letter-spacing: 7px;
}
.form-group.overlay{
    position:absolute;
}

.map-contacts{
    background:url(/images/map_bg.png);
}
.map-contacts h3{
    color:#1587dd;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
}
.map-contacts .form-group{
    color:#1587dd;
}
.dark-panel-form{
    background: #000000a3;
    margin-top:2rem;
    margin-bottom:1rem;
}