
*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-family: Roboto;
}
/* utilities */
.transparent{
    background: transparent;
}
.primary-text{
    color:#309aeb;
}
.icons-right-text{
    font-size: .6rem;
    text-transform: uppercase;
    font-weight: bold;
}

  
/* components */
.dark-panel{
    background-color:#00172880;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 0.7rem;
    color: white;
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    transform: translateY(-3.8rem);
}

/* main navigation */
.rounded-button-block .button{
    border:1px solid white;

}
.main-nav{
    max-height:4rem;
    position: absolute;
    z-index: 9999;
}

.main-banner{
    padding:0;
    /* /background: url('/images/banners/cosmo-banner.png') no-repeat center center fixed; */
    
    background-size: cover;
}
.section-with-icons{
    color:#1587dd;
}

/* Carousel */
.carousel-indicators li.active {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 10rem;
}
.carousel-indicators li:not(.active) {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    border-radius: 10rem;
    background-color: transparent;
    border: 1px solid white;
}
/* section flex */
/* media queries */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {   
    .decrease-margin-top{
        margin-top: -1rem;
    }
}
  
/*  ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px */  
@media (min-width: 1025px) and (max-width: 1280px) {
    .decrease-margin-top{
        margin-top: -1rem;
    }
}

.bd-highlight{
    color:#1587dd;
    font-style: bold;
}
.bd-highlight img{
    width: 30px;
}
.btn.btn-outline-secondary.rounded .btn{
    border: 1px solid gray;
}

.gray-bg{
    background: #e5eff9;
}


/* products carousel */
.bg-avoria-text{
    background:url('/images/avoria-text-background.png') no-repeat center center fixed;
}

.starz{
    color: #cae9fd;
}
.starz .checked {
    color: #ffdc1a;
}

.product-description{
    color:#1587dd;
    text-transform: uppercase;
    font-weight: 600;
    font-size:0.9rem;
}
.carousel-item {}
.product-cover-image:before{
    content: "";
    display: block;
}

.product-description{
    text-align: center;
}

.cost{
    color:#1587dd;
    font-weight: 600;
    font-size:1.2rem;
}

/* categories */


.categories h2 {
    color: red;
    font-weight: bold;
    letter-spacing: 1rem;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    background: -webkit-linear-gradient(transparent, transparent),
               url(../images/2clr-grad.png) repeat center center;
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
  }

  /* Orange & pineapple */
  
.pineapple-static{
    position: absolute;
    z-index: 99999;
    /* width: 396px; */
    right:0;
    transform: translateY(-78rem);
    overflow: hidden;
}

.orange-static{
    position: absolute;
    z-index: 99999;
    transform: translate(-10px, 4rem);
}
.grid-layer{
    padding-left: 3rem;
    padding-right: 3rem;
 }
    

.grid-layer .first-container{
    
    width:100%;
}
.grid-layer .first-container img,
.grid-layer .second-container img,
.grid-layer .third-container img{
    width:100%;
}

.grid-layer .second-container{
  
}

.grid-layer .third-container{
    
}
.top-minus-alignment{
    margin-top: -2.4rem;
}



@media (min-width: 768px) and (max-width: 991px){
  
    .categories h2 {
        font-size: 5rem;
        margin-bottom: -1rem;
    }
    .orange-static{
        display:none;
    }
    .grid-layer {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media (min-width: 991px){
    .orange-static {
        display:block;
    } 
    
.big-gradient-2colors{
    margin-bottom:-2.2rem;
    font-size: 12rem;
}
}
  
 /* deal-des-tages section*/
.deal-des-tages{
    min-height: 748px;
  }
.deal-des-tages .bg-text-image{
background: url(../images/deal-des-tages.png) no-repeat center center;
    background-position-x: left;
    background-position-y: top;
}

.deal-des-tages .clocks{
    background: url(../images/deal-des-tages_zhizha.png) no-repeat center center;
}
.deal-des-tages h2{
    color: #1587dd;
    font-size: 57px;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-left: 12.5rem;
    margin-bottom: 0;
}
.deal-des-tages .line-through{
    text-decoration: line-through;
    color: red;
    padding-left: 13px;
}
.deal-des-tages .cost{
    font-size:3rem;
}
.deal-des-tages .btn.btn-outline-danger{
    border-radius: 2px;
    width: 307px;
    background-color: red;
    font-size: 0.9rem;
    color:white;
    border:2px solid black;
    letter-spacing: 5px;
}

.deal-des-tages .btn.btn-outline-danger:hover{
    background-color: #a20202;
    border:2px solid #524f4f;
    transition:.5s;
    letter-spacing: 6px;
}
.deal-des-tages .product-description{
    font-size: 1.2rem;
    text-align: left;
    letter-spacing: 2px;
}
.adv-counter{
    color:#1587dd
}
/* Modal window */
#poleChudesModal iframe{
    width: 100%;
    min-height: 300px;
}    
.clocks{
    min-height: 500px;
}